* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  margin-top: -60px;
  position: fixed;
  height: 60px;
  z-index: 9999;
  width: 100%;
  background-color: #222629;
  display: flex;
  box-shadow: 1px 3px 5px black;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #86c232;
  margin-right: 25px;
}

header h1 {
  position: relative;
  display: inline-flex;
  color: #fff;
  font-family: sans-serif;
  text-shadow: -5px 5px 10px black;
  width: 20%;
  margin-left: 30px;
}

header h1 span {
  color: #86c232;
  text-shadow: 5px 5px 10px black;
}

header form {
  display: flex;
  flex-grow: 0.15;
  width: 40vw;
  align-self: center;
  position: relative;
  justify-content: center;
  margin-left: calc(vw - 30%);
}

header input {
  display: inline-block;
  font-size: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
header input[type="text"] {
  background: #fff;
  height: 35px;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px;
}

header form a{
  display: inline
}

header form a i{
  text-decoration: none;
  font-size: 1.3em;
  color: #86c232;
  opacity:0;
  padding-top: 8px;
}
header ul {
  display: flex;
}

header ul li{
  list-style: none;
}
header ul li a:hover{
  color:red;
}
header ul .s-btn {
  text-decoration: none;
  font-size: 1.4em;
  color: #86c232;
}
header ul li {
  text-decoration: none;
}
@media screen and (max-width: 759px) {
  header input[type="text"] {
    opacity: 0;
  }
  header form a i{
    opacity: 1;
  }
}

/*--------------------HeaderEnd-----------------------*/


/*--------------------Side Navigation-----------------------*/

.side-nav{
  display: block;
  position: fixed;
  z-index: 10000;
  background:  #222629;
height: 100%;
width: 15%;
}
.side-nav nav{
  display: block;
  color: #86c232;
  height:70%;
}

.side-nav nav ul{

}
.side-nav nav ul li{

}

.side-nav nav ul li a{
  font-size: 1.1em;
  text-decoration: none;
  display: block;
  padding: 20px;
  color:#fff;
  position: relative;
  margin-bottom: 1px;
  white-space: nowrap;
}
.side-nav nav ul li a:before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #222629;
}
.side-nav nav ul li a:hover,
.side-nav nav ul li a.active{
  color: #86c232;
  box-shadow: 0px 0px 5px #86c232;
}

.side-nav nav ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.side-nav  nav ul li a span.icon{
  display: inline-block;
}

.side-nav.collapse nav{
  width: 70px;
}
.side-nav.collapse nav ul li a{
  text-align: center;
}

.side-nav.collapse nav ul li a span.icon{
  margin: 0;
}

.side-nav.collapse nav ul li a span.title{
display: none;
}


/*@media screen and (max-width: 759px) {
  nav {
    opacity: 0;
  }
}*/

/*--------------------Side Navigation End-----------------------*/



/*-------------------Main Body Homepage -----------------------*/


.grid-container{
  background: #222629;
  margin-left: 15%;
  padding: 5px;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  overflow: hidden;
  grid-gap: 20px;
  margin-top: 60px;
}

@media screen and (max-width: 759px) {
  /**/
}

.grid-container div {
  height: 200px;
  width: 100%;
}

/*-------------------Inner  Boxes-----------------------*/

.box3 {
  border: 1px solid black;
  background: lightgreen;
}


/*-------------------Inner  Boxes Ends-----------------------*/


/*-------------------Main Body Home page Ends-----------------------*/


/*-------------------Main Body Watch page-----------------------*/

.watch-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.video-container{
  grid-row: 1/3;
  grid-column: 1/3;
}

.comment-container {
  grid-column: 1/3;
}

.sugg-container {
  grid-row: 1/4;
}



/*-------------------Main Body Watch page Ends-----------------------*/
